apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: garage-api-hpa
  namespace: fiap-garage
spec:
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 0
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: garage-api
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 30
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 30