apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgress-pvc
  namespace: fiap-garage
spec:
  resources:
    requests:
      storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
